In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('application_data_test.csv')

In [3]:
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,331034,Cash loans,F,N,Y,0,90000.0,803259.0,23616.0,670500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
1,242581,Cash loans,F,N,Y,0,270000.0,1288350.0,41692.5,1125000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
2,281583,Cash loans,F,N,Y,0,270000.0,253737.0,25227.0,229500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,255865,Cash loans,F,N,Y,0,144000.0,436032.0,16564.5,360000.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,2.0
4,389379,Revolving loans,M,N,N,2,72000.0,225000.0,11250.0,225000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92249,229275,Cash loans,F,N,Y,0,135000.0,450000.0,21780.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
92250,329443,Cash loans,F,N,Y,0,112500.0,298512.0,23715.0,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
92251,362651,Cash loans,F,Y,Y,0,157500.0,288873.0,19435.5,238500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
92252,273788,Cash loans,F,N,Y,0,180000.0,940500.0,39978.0,940500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
92253,340650,Cash loans,F,N,Y,2,112500.0,381528.0,14512.5,315000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN